## UPYA Activity Table

#### The concept of the codes in this page is to carry out the following procedure to update a table in a specified/particular database.
     This process switches seamlessly from Python to a MySQL Database by utilizing variables and use of SQL simultaneously
         1. read csv file(s) from a particular/specified directory (python)
         2. filter unwanted entry using wildcards (python)
         3. edit existing data fields (python)
         4. create other unavailable but required datafields using manipulations (python)
         5. connect to MySQL database to delete outdated information (python, SQL)
         6. send updated data to the MySQL database to replace deleted information (python)

In [1]:
import pandas as pd
import numpy as np
import csv as csv
import datetime as date

In [2]:
#Reads the csv files from the directory. This reading specifies the columns (data fields) that will be used in the read process

contract1 = pd.read_csv('contractsA.csv', usecols = ['client.clientNumber','contractNumber','paygNumber','dealName','status','signingDate','installationDate','respAgent','client.profile.firstName','client.contact.mobile','onboardingStatus','schedule.upfrontPayment','schedule.minPayment','schedule.freq','totalCost','remainingDebt','totalDaysActivated','lastStatusUpdate','nextStatusUpdate','client.profile.gps.latitude','client.profile.gps.longitude'], encoding="cp437")

contract2 = pd.read_csv('contractsB.csv', usecols = ['client.clientNumber','contractNumber','paygNumber','dealName','status','signingDate','installationDate','respAgent','client.profile.firstName','client.contact.mobile','onboardingStatus','schedule.upfrontPayment','schedule.minPayment','schedule.freq','totalCost','remainingDebt','totalDaysActivated','lastStatusUpdate','nextStatusUpdate','client.profile.gps.latitude','client.profile.gps.longitude'], encoding="cp437")
#contracts

C:\Users\olawale.falodun\AppData\Local\Temp\ipykernel_26188\1934101974.py:1: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  contract1 = pd.read_csv('contractsA.csv', usecols = ['client.clientNumber','contractNumber','paygNumber','dealName','status','signingDate','installationDate','respAgent','client.profile.firstName','client.contact.mobile','onboardingStatus','schedule.upfrontPayment','schedule.minPayment','schedule.freq','totalCost','remainingDebt','totalDaysActivated','lastStatusUpdate','nextStatusUpdate','client.profile.gps.latitude','client.profile.gps.longitude'], encoding="cp437")
C:\Users\olawale.falodun\AppData\Local\Temp\ipykernel_26188\1934101974.py:3: DtypeWarning: Columns (24,38) have mixed types. Specify dtype option on import or set low_memory=False.
  contract2 = pd.read_csv('contractsB.csv', usecols = ['client.clientNumber','contractNumber','paygNumber','dealName','status','signingDate','installationDate','respAgent','client.profile.firstName','client.contact.mobile','onboardingStatus','schedule.upfrontPayment','schedule.minPayment','schedule.freq','totalCost','remainingDebt','totalDaysActivated','lastStatusUpdate','nextStatusUpdate','client.profile.gps.latitude','client.profile.gps.longitude'], encoding="cp437")

In [3]:
#Concatenating along the rows
contracts = pd.concat([contract1, contract2], axis=0)

In [4]:
#Filtering with various columns
contracts = contracts[(contracts['dealName'] != 'LCP Demo (Perpetuity)') & (contracts['onboardingStatus'] == 'Signed') & (contracts['contractNumber'] != 295593406 ) & (contracts['dealName'] != 'L1 Individual wholesale deal TEST DO NOT USE ') & (contracts['dealName'] != 'L1 Individual wholesale deal')]

In [5]:
#df = df[~df["your_column"].str.contains(".*test.*|.*habari.*|.*example.*", na=False, regex=True)]
contracts = contracts[~contracts['client.profile.firstName'].str.contains(".*Habari.*|.*Test.*|.*Real.*", na=False, regex=True)]

In [6]:
contracts['signingDate'] = pd.to_datetime(contracts['signingDate'].str[0:10]).dt.normalize()
contracts['installationDate'] = pd.to_datetime(contracts['installationDate'].str[0:10]).dt.normalize()
contracts['lastStatusUpdate'] = pd.to_datetime(contracts['lastStatusUpdate'].str[0:19])
contracts['nextStatusUpdate'] = pd.to_datetime(contracts['nextStatusUpdate'].str[0:19])
contracts['signingDate'] = pd.to_datetime(contracts['signingDate'], format='%Y/%m/%d')

#contracts

In [7]:
contracts['rank'] = contracts.groupby('contractNumber')['lastStatusUpdate'].rank(method='dense',ascending=False).astype(int)

contracts = contracts[contracts['rank'] == 1]

#contracts

In [8]:
#adding column with constant value (Printing L1IDU in all the rows while representing column name as "type")
contracts['product'] = "L1IDU"

#contracts

In [9]:
#Creating LTO Period Column
contracts['ltoperiod'] = (
    np.where(
        contracts['dealName'] == '28m plan', 
        28, 
        np.where(
            contracts['dealName'] == '12m plan', 
            12,
            np.where(
                contracts['dealName'] == '18m plan', 
                18,
                np.where(
                    contracts['dealName'] == '24m plan', 
                    24,1)))))

#contracts

In [10]:
#Ammending TotalDaysActivated to correct wrong PaidPeriod for PAIDOFF contracts
filters = [
   (contracts.ltoperiod == 12) & (contracts.status == 'PAIDOFF'),
   (contracts.ltoperiod == 28) & (contracts.status == 'PAIDOFF'),
   (contracts.ltoperiod == 24) & (contracts.status == 'PAIDOFF'),
   (contracts.ltoperiod == 18) & (contracts.status == 'PAIDOFF')
]
values = [360,840,720,540]

contracts["totalDaysActivated"] = np.select(filters, values, default = contracts.totalDaysActivated)

In [11]:
#Creating the PaidPeriod Column
contracts['paidperiod'] = contracts['totalDaysActivated']/contracts['schedule.freq']
contracts['paidperiod'] = contracts['paidperiod'].fillna(0)
contracts['paidperiod'] = contracts['paidperiod'].astype(int)
#contracts

In [12]:
contracts['initial_down_payment'] = (contracts['schedule.upfrontPayment'] - contracts['schedule.minPayment']).fillna(0)

#contracts

In [13]:
from datetime import date
from datetime import timedelta

today = pd.to_datetime('today').normalize() - timedelta(days=1)

#today = pd.to_datetime('2023/05/31').normalize()

In [14]:
#adding column with constant value (Printing today's date in all the rows while representing column name as "report_date")
contracts['report_date'] = today

In [15]:
#Creates an extra column which derives the age of a contract since inception
contracts["age"] = (today - contracts['signingDate']).dt.days

#contracts

In [16]:
import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine, text

In [17]:
# Create SQLAlchemy engine
engine = create_engine("mysql+mysqlconnector://wale:*******!@165.***.**.**/Blinkwood")

In [18]:
forgiven_contracts = pd.read_sql("SELECT * FROM l1_forgiven_contracts_use", con=engine)

#forgiven_contracts.head()

In [19]:
contracts = pd.merge(contracts, forgiven_contracts, how='left', on='contractNumber')

contracts["days_forgiven"] = contracts["days_forgiven"].fillna(0).astype(int)

#contracts.head()

In [20]:
#contracts = contracts.where(pd.notnull(contracts), None)

#contracts

In [21]:
#This column calculates 'days_deficit' for LTO contracts. 'days_deficit' will be useful later for Analysis and tracking
contracts["days_deficit"] = np.where(
   (contracts.ltoperiod == 1), 
   0, 
   (contracts['totalDaysActivated'] + contracts['days_forgiven'])  - contracts['age']
    )

#An alternative way to write the above query

#filters = [
#   (contracts.ltoperiod == 1)
#]
#values = [0]

#contracts["days_deficit"] = np.select(filters, values, default = (contracts.totalDaysActivated - contracts.age))


#contracts

In [22]:
contracts["segmentation_score"] = (contracts['paidperiod']/((contracts['age']-contracts['days_forgiven'])/30.4))*100


filters = [
   (contracts.paidperiod > 0) & (contracts.age == 0),
   (contracts.ltoperiod == 1),
   (contracts.ltoperiod) == (contracts.paidperiod)
]
values = [100,100,100]

contracts["segmentation_score"] = np.select(filters, values, default = contracts.segmentation_score)


contracts['segmentation_score'] = contracts['segmentation_score'].round(2)


contracts.replace([np.inf, -np.inf], np.nan,  inplace=True)


#contracts

In [23]:
filters = [
   (contracts.segmentation_score >= 100),
   (contracts.segmentation_score < 100) & (contracts.segmentation_score >= 80),
   (contracts.segmentation_score < 80) & (contracts.segmentation_score >= 41)
]
values = ['Good', 'Fair', 'Challenging']

contracts["segmentation_status"] = np.select(filters, values, default = 'Bad')

In [24]:
#Creates an extra column to indicate the STATUS of a contract by manipulating the Outage Days Outright plan
contracts['active_status'] = (
    np.where(contracts['dealName'] == 'Outright plan', 
        'Owner',
            np.where(contracts['paidperiod'] >= contracts['ltoperiod'], 
                'Owner',
                    np.where(contracts['days_deficit'] > -10, 
                        'Paid', 
                            np.where(contracts['days_deficit'] < -40, 
                                'Retrieval',
                                     np.where(contracts['days_deficit'] < -9, 
                                        'Recovery', 'Unavailable')))))
                                    )

In [25]:
filters = [
   ((contracts.age/30.4) >= 5)
]
values = ['Pre-Existing']

contracts["age_segment"] = np.select(filters, values, default = 'New')

In [26]:
lost_systems = pd.read_sql("SELECT contract_number FROM l1_lost_systems", con=engine)

#lost_systems

In [27]:
#Merge the main Contract Variable with Lost systems
contracts = pd.merge(contracts, lost_systems, how='left', left_on='contractNumber', right_on='contract_number')

#contracts['contract_number'] = contracts['contract_number'].astype(int)

#contracts.head()

In [28]:
#This part sets tenure for Outright contracts to 0, But LTO Contracts will have their Tenure in Days expressed by their LTO * 30
filters = [
   (contracts.ltoperiod == 1)
]
values = [0]

contracts["tenure_in_days"] = np.select(filters, values, default = contracts.ltoperiod * 30)

In [29]:
#The idea behind this manipulation is to factor the days_forgiven into the life_tenure of completed transfers contract 

#pd.Timedelta(days=(contracts['tenure_in_days'] + contracts['days_forgiven'])

contracts['lto_exit_date'] = contracts['signingDate'] + pd.to_timedelta(((contracts.tenure_in_days) - 30) + contracts.days_forgiven, unit="D")

#contracts

In [30]:
#This is to create a column that clearly states if a Contract is within LTO or Outside LTO
filters = [
   (contracts.ltoperiod == 1),
   (contracts.lto_exit_date >= today)
]
values = ['Outright','Within LTO']


contracts["lto_segment"] = np.select(filters, values, default = 'Outside LTO')

#contracts.head()

In [31]:
#Creates an extra column to indicate the STATUS of a contract by manipulating the Outage Days Outright plan
contracts['new_active_status'] = (
    np.where(contracts['ltoperiod'] == 1, 
        'Owner',
            np.where((contracts.paidperiod >= contracts.ltoperiod) & (contracts['lto_segment'] == 'Outside LTO'),
                'Owner',
                    np.where(contracts['contractNumber'] == contracts['contract_number'], 
                        'Lost', 'Active')))
                                    )

#contracts.head()

In [32]:
#Generates warranty End Date
contracts['warranty_end_date'] = np.where(
    contracts['signingDate'] >= '2024-09-01',
    contracts['signingDate'] + pd.to_timedelta(24 * 30.4, unit="D"),  # ✅ Add days properly...30.4 is the Standard number of days in a Month. Derived by Calculating 365/12 = 30.416 
    contracts['signingDate'] + pd.to_timedelta(28 * 30.4, unit="D")   # ✅ Add days properly
)


contracts['warranty_end_date'] = contracts['warranty_end_date'] + pd.to_timedelta(contracts.days_forgiven, unit="D")

#contracts['warranty_end_date'] = pd.to_datetime(contracts['warranty_end_date'].dt.normalize()
#contracts['signingDate'] = pd.to_datetime(contracts['signingDate'], format='%Y/%m/%d')
#contracts["warranty_end_date"] = (
    #np.where(contracts.signingDate >= '2024-09-01'), 
      # contracts.signingDate + (24 * 30.42), 
         #  contracts.signingDate + (28 * 30.42)
   # )

#contracts.head()

In [33]:
contracts['warranty_end_date'] = pd.to_datetime(contracts['warranty_end_date'], format='%Y/%m/%d')

contracts['warranty_end_date'] = pd.to_datetime(contracts['warranty_end_date']).dt.normalize()

#contracts.head()

In [34]:
#Generates Warranty Status
#filters = [
#   (contracts['warranty_end_date'] >= today)
#]
#values = ['In-Warranty']


#contracts["warranty_status"] = np.select(filters, values, default = 'Out-of-Warranty')

#contracts.head()

#Generates Warranty Status
contracts['warranty_status'] = (
    np.where(contracts['contractNumber'] == contracts['contract_number'], 
        'Lost',
            np.where(contracts['warranty_end_date'] >= today,
                'In-Warranty', 'Out-of-Warranty'))
                                )

#contracts.head()

In [35]:
contracts = contracts[['report_date','contractNumber','dealName','status','signingDate','installationDate','respAgent','onboardingStatus','schedule.freq','schedule.upfrontPayment','schedule.minPayment','totalCost',
                       'initial_down_payment','remainingDebt','lastStatusUpdate','totalDaysActivated','client.contact.mobile','client.clientNumber','paygNumber','nextStatusUpdate','product','ltoperiod','paidperiod',
                       'age','days_deficit','segmentation_score','segmentation_status','active_status','age_segment','lto_segment','lto_exit_date','new_active_status','warranty_status','warranty_end_date',
                       'client.profile.gps.latitude','client.profile.gps.longitude']]

In [36]:
contracts.columns = ['report_date','contract_number','tenure','status','created_date','installation_date','agent_id','onboarding_status','upfront_days','full_initial_payment','monthly_payment','total_cost',
                    'initial_down_payment','remaining_debt','last_status_update','total_days_activated','customer_contact','client_number','system_id','next_status_update','product','ltoperiod','paidperiod',
                    'age','days_deficit','segmentation_score','segmentation_status','active_status','age_segment','lto_segment','lto_exit_date','new_active_status','warranty_status','warranty_end_date','gps_latitude',
                    'gps_longitude']

In [37]:
contracts['next_status_update'] = contracts['next_status_update'].fillna(contracts['last_status_update'])
contracts['upfront_days'] = contracts['upfront_days'].fillna(0)
contracts['initial_down_payment'] = contracts['initial_down_payment'].fillna(0)
contracts['full_initial_payment'] = contracts['full_initial_payment'].fillna(0)
contracts['monthly_payment'] = contracts['monthly_payment'].fillna(0)
contracts['system_id'] = contracts['system_id'].fillna(0)

In [38]:
#filters = [
#        ((contracts.age/30.4) >= 5)
#]
#values = ['Pre-Existing']

#contracts["age_segment"] = np.select(filters, values, default = 'New')

#contracts

In [39]:
contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18087 entries, 0 to 18086
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   report_date           18087 non-null  datetime64[ns]
 1   contract_number       18087 non-null  int64
 2   tenure                18087 non-null  object
 3   status                18087 non-null  object
 4   created_date          18087 non-null  datetime64[ns]
 5   installation_date     4871 non-null   datetime64[ns]
 6   agent_id              18087 non-null  object
 7   onboarding_status     18087 non-null  object
 8   upfront_days          18087 non-null  float64
 9   full_initial_payment  18087 non-null  float64
 10  monthly_payment       18087 non-null  float64
 11  total_cost            18087 non-null  float64
 12  initial_down_payment  18087 non-null  float64
 13  remaining_debt        18087 non-null  float64
 14  last_status_update    18087 non-null  datetime64[ns]
 15  total_days_activated  18087 non-null  int64
 16  customer_contact      18065 non-null  object
 17  client_number         18087 non-null  object
 18  system_id             18087 non-null  object
 19  next_status_update    18087 non-null  datetime64[ns]
 20  product               18087 non-null  object
 21  ltoperiod             18087 non-null  int64
 22  paidperiod            18087 non-null  int64
 23  age                   18087 non-null  int64
 24  days_deficit          18087 non-null  int64
 25  segmentation_score    18087 non-null  float64
 26  segmentation_status   18087 non-null  object
 27  active_status         18087 non-null  object
 28  age_segment           18087 non-null  object
 29  lto_segment           18087 non-null  object
 30  lto_exit_date         18087 non-null  datetime64[ns]
 31  new_active_status     18087 non-null  object
 32  warranty_status       18087 non-null  object
 33  warranty_end_date     18087 non-null  datetime64[ns]
 34  gps_latitude          13139 non-null  object
 35  gps_longitude         13139 non-null  float64
dtypes: datetime64[ns](7), float64(8), int64(6), object(15)
memory usage: 5.0+ MB

In [40]:
#df['date'] = pd.to_datetime(df['date'])
#df['rank'] = df.groupby('id')['date'].rank(method='dense' descending=True).astype(int)

In [41]:
contracts.isnull().sum().sort_values(ascending = False)

installation_date       13216
gps_longitude            4948
gps_latitude             4948
customer_contact           22
status                      0
tenure                      0
contract_number             0
report_date                 0
upfront_days                0
full_initial_payment        0
agent_id                    0
created_date                0
total_cost                  0
initial_down_payment        0
last_status_update          0
remaining_debt              0
total_days_activated        0
client_number               0
monthly_payment             0
onboarding_status           0
next_status_update          0
system_id                   0
product                     0
ltoperiod                   0
days_deficit                0
segmentation_score          0
paidperiod                  0
age                         0
active_status               0
segmentation_status         0
age_segment                 0
lto_segment                 0
new_active_status           0
lto_exit_date               0
warranty_end_date           0
warranty_status             0
dtype: int64

In [42]:
contracts = contracts.where(pd.notnull(contracts), None)

# Store Processed Data Back in MySQL
import time

try:
    start_time = time.time()  # Start timer

    # Attempt to load data
    rows_inserted = contracts.to_sql(
    name="upya_activity_log",
    con=engine,
    if_exists="append",
    index=False,
    chunksize=1000
    )

    end_time = time.time()  # End timer

    print(f"✅ Data successfully loaded into 'upya_activity_log'.")
    print(f"🔢 Total Rows Inserted: {rows_inserted}")
    print(f"⏳ Time Taken: {round(end_time - start_time, 2)} seconds")

except Exception as e:
    print(f"❌ Error loading data into MySQL: {e}")

In [43]:
contracts.replace([np.inf, -np.inf], np.nan, inplace=True)

In [44]:
contracts['gps_latitude'] = pd.to_numeric(contracts['gps_latitude'], errors='coerce')

In [45]:
contracts = contracts.where(pd.notnull(contracts), None)

In [46]:
# Execute query within a transaction
with engine.begin() as connection:
    result = connection.execute(text("DELETE FROM activity_log WHERE report_date > LAST_DAY(CURDATE() - INTERVAL 1 MONTH)"))
    print(f"{result.rowcount} rows deleted.")  # Shows number of rows deleted

17760 rows deleted.

In [47]:
contracts.to_sql("activity_log", con=engine, if_exists="append", index=False, chunksize=1000)

18087

In [48]:
max_date = pd.read_sql("SELECT MAX(report_date) as max_date FROM upya_activity_log", con=engine)

max_date

     max_date
0  2025-03-16

In [49]:
#contracts.to_excel('upya_activity_jan25.xlsx')

In [50]:
#contracts.isin([np.inf, -np.inf]).sum()

In [ ]:
month_date = pd.read_sql("SELECT distinct(report_date) as month_dates FROM upya_activity_log", con=engine)

month_date

In [52]:
contracts.to_excel('upya_activity_mar25.xlsx')